
* {
  box-sizing: border-box;
}
.html{
  height: 100%;
  width: 100%;
}
body{
  padding: 0;

}

body {
  margin: 0;
  font-family: Arial;
}

  
.logo {
  text-align: center;
  padding: 32px; 
}
/* ------HEADER LOGO SPIN---------*/
.templogo:hover{
  animation-name: logospin;
  animation-duration:1000ms;
  animation-iteration-count: 1;
  
animation-timing-function: linear;
}

@keyframes logospin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* --------NAV BAR ----------*/


.products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
overflow: hidden;
 
}

  
 .product-card:hover {
    border: 1px solid #7FFF00;
  }


  .product-name{
    font-size: 14px;
    text-align: left;

      }
.product-price {
font-size: 13px;
color: red;
text-align: left;
  }
 .product-img {
    width: 100%;
position: relative;
border: none;
  
  }





  @media (min-width: 300px){
    .product-card{
      flex: 1 50%;
      border-right: black solid 1px;
      border-bottom: black solid 1px;
    }
  
   
  
  }

  #smallbox {
    cursor: pointer;
}
@media (min-width: 768px) /* Tablet */ { 

  .main{
    margin-top: 2em;
   

    }
 .products{
   overflow: hidden;
 }
   
    .product-card{
      flex: 1 50%;
      
     overflow: hidden;
    }


}
@media (min-width: 992px) /*desktop */   {
  .main{
    margin-top: 2em;
    
    }
    .product-card{
      flex: 1 33.33%;
      
     
    }
}

